<div class="card">
    <!-- Section pour le bouton "like" -->
    <div (click)="saveLiked()" class="logoCoeur">
        <!-- Utilisation de ngIf pour afficher le cœur vide ou plein en fonction de l'état "favourite" -->
        <ng-container *ngIf="cardData.favourite; else elseBlock">
            <!-- SVG du cœur vide -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" class="logoCoeurVide">
                <path d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"></path>
            </svg>
        </ng-container>

        <!-- Si ce n'est pas favori, afficher le cœur plein -->
        <ng-template #elseBlock>
            <!-- SVG du cœur plein -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" class="logoCoeurPlein">
                <path d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z"></path>
            </svg>
        </ng-template>
    </div>

    <!-- Section pour la redirection vers une autre page -->
    <div (click)="goToPage(cardData)" >
        <!-- Conteneur d'image -->
        <div class="imageContainer">
            <!-- Image dynamique liée à l'URL calculée dans le composant -->
            <img [src]="imageWithPrefix" alt="Image" class="image">
        </div>
    
        <!-- Section pour le contenu textuel -->
        <div class="textContent">
            <!-- Nom de la ville et code postal -->
            <div class="titre-logement">{{cardData.city_name}}, {{cardData.city_zipCode}}</div>
    
            <!-- Section pour l'évaluation et le logo d'étoile -->
            <div class="rating">
                <img src="../../../assets/imgAirbnb/etoile.svg" alt="Image" class="logo">
                {{cardData.rating}}
            </div>
            
            <!-- Prix par nuit -->
            <p class="prix"><strong>{{cardData.price}}€</strong> par nuit</p>
        </div>
    </div>
</div>
